# Ignore everything
*

# Except these directories and files
!atl_help/
!Metamodel/
!Model/
!README.md
!table.md
!Transformations/
!uml/
!python_code
!parser

# Ensure .gitignore itself is not ignored
!.gitignore
.env
env
__pycache__/